<% if @task != nil %>
	<%= form_for @task do |f|  %>
	<table>
		<tr>
			<th>Category</th>
			<th>Task</th>
			<th>Due Date</th>
		</tr>
		<tr>
			<td><%= f.text_field :category  %></td>
			<td><%= f.text_field :item  %></td>
			<td><%= f.date_field :due_date  %></td>
			<td><%= f.submit %></td>
		</tr>
	</table>
	<%  end %>
<% end %>
