<p>
	<% @task = Task.new %>
	<%= render "form" %>
</p>
<% if @tasks.count != 0 %>
	<table>
		<tr>
			<th>Created</th>
			<th>Task</th>
			<th>Category</th>
			<th>Due Date</th>
			<th></th>
			<th></th>
		</tr>
	<% @tasks.each do |t|  %>
		<tr>
			<td><%= t.created_at %></td>
			<td><%= t.item %></td>
			<td><%= link_to t.category, t, method: :find_by_category %></td>
			<td><%= t.due_date %></td>
			<td><%= link_to "Edit", edit_task_path(t) %></td>
			<td><%= link_to "Remove", t, method: :delete, data: { confirm: "Are you sure?" } %></td>
		</tr>
	<%  end %>
	</table>
<% else %>
	<p>No todo items found.</p>
<% end %>
