<% @version = "v0.1 Matt Weidner <jopawp@gmail.com>" %>
<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Todo</h1>
<h4><%= @version %></h4>
<hr />

<%= yield %>

</body>
</html>
